:root {
    --main-color-1: #140f07;
    --main-color-2: #10294b;
    --main-color-3: #096bb2;
    --main-color-4: #08b6ff;
    --main-color-5: #0efff9;
}

* {
    box-sizing:border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: "Roboto", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    background-size: cover;
}

#root {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgb(201,219,233);
    background: linear-gradient(180deg, rgba(201,219,233,1) 0%, rgba(255,255,255,1) 100%);
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
    --toastify-color-progress-success: var(--main-color-4) !important;
    --toastify-icon-color-success: var(--main-color-4) !important;;
}

.cloud {
    width: 200px; height: 60px;
    background: #fff;
    border-radius: 200px;
    position: absolute;
    left: -300px
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px; height: 80px;
    top: -15px; left: 10px;
    border-radius: 100px;
    transform: rotate(30deg);
}

.cloud:after {
    width: 120px; height: 120px;
    top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    top: 200px;
    animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
    top: 300px;
    transform: scale(0.6);
    opacity: 0.6;
    animation: moveclouds 25s linear infinite;
    animation-delay: 5s;
}

.x3 {
    left: -250px;
    top: 250px;
    transform: scale(0.8);
    opacity: 0.8;
    animation: moveclouds 20s linear infinite;
    animation-delay: 8s;
}

.x4 {
    left: 470px; top: -250px;
    transform: scale(0.75);
    opacity: 0.75;
    animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px; top: -150px;
    transform: scale(0.8);
    opacity: 0.8;
    animation: moveclouds 20s linear infinite;
}

@keyframes moveclouds {
    0% {left: -100px;}
    100% {left: 100%;}
}

.AppIsland {
    position: absolute;
    bottom: 0;
    height: 80%;
    width: auto;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
